{% extends 'traffic/base.html' %}
{% load staticfiles %}

{% block topbar %}
    <div id="title" class="contentbox">{{ user.username }}'s Account <br/></div>
{% endblock %}


{% block right_body_block %}
     <div id="r-block" class="contentbox">
        
        <div id="accountpagetitle"> Change your Password: </div> <br/>
        <form id="UpdateDetailsForm" method="POST" action="{% url 'traffic:account' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            {% for hidden in updateDetailsForm.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in updateDetailsForm.visible_fields %}
                <div id="register-field-name">{{ field.label }}:</div>
                <div id="register-field">{{ field }}</div>
                <div id="register-field-help">{{ field.help_text }}</div>
                <div id="register-field-errors">{{ field.errors }}</div>
            {% endfor %}
            <input type="submit" name="submit" value="Change Password" class="submitbutton"/>
        </form>  
    </div>      
{% endblock %}


{% block left_body_block %}
    <div id="l-block" class="contentbox">
        <div id="accountpagetitle"> Your Posts: </div> <br/>
        {% for post in posts %} 
    	<div class="postbox">
			<div id="posttitle"><strong><a href="{% url 'traffic:post' postSlug=post.slug %}">{{ post.title }}</a></strong> </div>
			<div id="postinfo"> A {{ post.category }} incident posted by {{ post.user.username }}</div>
			<div id="postimg"> <img src="{{ MEDIA_URL }}{{ post.photo }}" alt="Post Image Unavailable"> </div>
		</div>
        {% endfor %}
        <br/>
        <div id="accountpagetitle">Your Comments:</div> <br/>
        {% for comment in comments %}
            <div id="accountpagecommenttext">"{{ comment }}":</div><br/>
            <div class="postbox">
                <div id="posttitle"><strong><a href="{% url 'traffic:post' postSlug=comment.post.slug%}">{{ comment.post.title }}</a></strong> </div>
                <div id="postinfo"> A {{ comment.post.category }} incident posted by {{ comment.post.user.username }}</div>
                <div id="postimg"> <img src="{{ MEDIA_URL }}{{ comment.post.photo }}" alt="Post Image Unavailable"> </div><br/>
            </div>
        {% endfor %}   
    </div>   
{% endblock %}
