{% extends 'traffic/base.html' %}

{% block topbar %}
    <div id="topbar" class="contentbox"><strong>{{ user.username }}'s Account</strong> <br/></div>
{% endblock %}


{% block right_body_block %}
    
     <div id="r-block" class="contentbox">
        <strong> Your Posts: </strong> <br/>
        {% for post in posts %} 
    	<div class="postbox">
			<div id="posttitle"><strong><a href="{% url 'traffic:post' postSlug=post.slug%}">{{ post.title }}</a></strong> </div>
			<div id="postinfo"> A {{ post.category }} incident posted by {{ post.user.username }}</div>
			<div id="postimg"> <img src="{{ MEDIA_URL }}{{ post.photo }}" alt="Post Image Unavailable"> </div>
		</div>
        {% endfor %}
        <br/>
        <strong>Your comments:</strong> <br/>
        {% for comment in comments %}
            You commented "{{ comment }}"  on :<br/>
            {% for post in commentPost %}
            {% if comment.pk == post.pk %}
                <div class="postbox">
            		<div id="posttitle"><strong><a href="{% url 'traffic:post' postSlug=post.slug%}">{{ post.title }}</a></strong> </div>
            		<div id="postinfo"> A {{ post.category }} incident posted by {{ post.user.username }}</div>
            		<div id="postimg"> <img src="{{ MEDIA_URL }}{{ post.photo }}" alt="Post Image Unavailable"> </div><br/>
            	</div>
            {% endif %}
            {% endfor %}  
        {% endfor %}      
    </div>      
{% endblock %}

{% block left_body_block %}
    <div id="l-block" class="contentbox">
        <strong> Change Password: </strong> <br/>
        <form id="UpdateDetailsForm" method="POST" action="/account/changepassword/" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ updateDetailsForm.as_p }}
            <input type="submit" name="submit" value="Change Password" class="submitbutton"/>
        </form>
    </div>   
{% endblock %}
