<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">	
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
		<title>TRAFFIC NOT-MY-JAM</title>
	</head>
	<body>
		<div id="header" class="contextbox">
			<strong> TRAFFIC NOT-MY-JAM </strong> <br/>			
		</div>
		<div>
			{% block topbar %}
			{% endblock %}
		</div>
		<div>
			{% block left_body_block %}
			{% endblock %}
		</div>
		<div>
			{% block right_body_block %}
			{% endblock %}
		</div>
		<div>
			{% block bottombar %}
			{% endblock %}
		</div>
		<div id="navbar" class="contextbox">
			<a href="{% url 'traffic:index'%}">HOME</a>
			<a href="{% url 'traffic:about'%}">ABOUT</a>
			{% if user.is_authenticated %}
				<a href="{% url 'traffic:addposts'%}">POST</a>
				<a href="{% url 'traffic:account'%}">ACCOUNT</a>
				<a href="{% url 'traffic:logout'%}">LOGOUT</a>
			{% else %}
				<a href="{% url 'traffic:login'%}">LOGIN</a>
				<a href="{% url 'traffic:register'%}">REGISTER</a>
			{% endif %}
		</div>
		<script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/traffic-jquery.js" %}" crossorigin="anonymous"></script>
		<script src="{% static "js/traffic-ajax.js" %}" crossorigin="anonymous"></script>
			{% block additional_resources %}
			{% endblock %}
		</body>
</html>