<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">	
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<title>TRAFFIC NOT-MY-JAM</title>
	</head>
	<body>
		<div id="header" class="contextbox">
			<strong> TRAFFIC NOT-MY-JAM </strong> <br/>			
		</div>
		<div>
			{% block topbar %}
			{% endblock %}
		</div>
		<div id="l-block" class="contentbox">
			{% block left_body_block %}
			{% endblock %}
		</div>
		<div id="r-block" class="contentbox">
			{% block right_body_block %}
			{% endblock %}
		</div>
		<div id="bottombar" class="contentbox">
			{% block bottombar %}
			{% endblock %}
		</div>
		<div id="navbar" class="contextbox">
			<a href="{% url 'traffic:index'">HOME</a>
			<a href="{% url 'traffic:about'">ABOUT</a>
		</div>
	</body>
</html>