{% extends 'traffic/base.html' %}
{% load staticfiles %}

{% block topbar %}
    <div class="contentbox"></div>
        <div id="centeredtitle">Browse by categories:</div>
    
        <div id="categoriespanel">

            {% for category in categories %}
                <div>
                    <a href="{% url 'traffic:category' categorySlug=category.slug %}"
                    id="categorytitle">
                        {{ category.name }}
                    </a>
                    <div id="categoryinfo">
                        {% if category.count == 1 %}
                            {{ category.count }} post in this category
                        {% elif category.count == 0 %}
                            No posts in this category
                        {% else %}
                            {{ category.count }} posts in this category
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>
{% endblock %}