{% extends 'traffic/base.html' %}
{% load staticfiles %}

{% block topbar %}
	{% if user.is_authenticated %}
		<div id="title3"> Welcome Back {{user.username}}! Check Out The Latest Jams ... </div>
	{% else %}
		<div id="title3"> Check Out The Latest Jams ... </div>
	{% endif %}
{% endblock %}

{% block left_body_block %}
	<div id="l-block" class="contentbox">

		{% for post in posts %}
		<div class="postbox">
			<div id="posttitle"><strong><a href="{% url 'traffic:post' postSlug=post.slug%}">{{ post.title }}</a></strong> </div>
			<div id="postinfo"> A {{ post.category }} incident posted by {{ post.user.username }}</div>
			<div id="postimg"> <img src="{{ MEDIA_URL }}{{ post.photo }}" alt="Post Image Unavailable"> </div>
		</div>
		{% endfor %}
		<div class="page-numbering">
			{% for i in numberOfPages %}
				{% if i == page %}
					<a href="{% url 'traffic:pagesIndex' page=i %}" id="page-numbering-disabled"> {{ i }} </a>
				{% else %}
					<a href="{% url 'traffic:pagesIndex' page=i %}"> {{ i }} </a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block right_body_block %}
	<div id="r-block" >
		<div id="map" class="mapindex" data-centre="glasgow" data-postids="{% for p in posts %} {{ p.id }} {% endfor %}" data-zoom=11 ></div>
	</div>
{% endblock %}

{% block additional_resources %}
	<script src="{% static "js/maps-Bing.js" %}" crossorigin="anonymous"></script>
	<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
{% endblock %}