{% extends 'traffic/base.html' %}

{% block topbar %}
<div id="home-navbar" class="contextbox">
	<a href="{% url 'traffic:index' %}">HOME</a>
	<a href="{% url 'traffic:about' %}">ABOUT</a>
</div>
{% endblock %}

{% block left_body_block %}
	<div id="l-block" class="contentbox">
		{% for post in posts %}
		<div class="postbox">
			<div id="posttitle"><strong><a href="/post/{{ post.slug }}/">{{ post.title }}</a></strong> </div>
			<div id="postinfo"> A {{ post.category }} incident posted by {{ post.user.username }} at {{ post.dateAndTime }} in {{ post.location }} </div>
			<div id="postimg"> <img src="{{ post.photo }}" alt="Post Image Unavailable"> </div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block right_body_block %}
	<div id="r-block" class="contentbox">
		<strong>-- MAP --</strong>
	</div>
{% endblock %}