{% extends 'traffic/base.html' %}

{% block topbar %}
<div id="topbar" class="contentbox">
{{ post.title }}
<div id="postnav">
	<a href="{% url ''">◄</a>
	<a href="{% url ''">►</a>
</div>
</div>
{% endblock %}

{% block left_body_block %}
	<div id="l-block" class="contentbox">
		<strong>{{ post.photo }}</strong>
	</div>
{% endblock %}

{% block right_body_block %}
	<div id="r-block" class="contentbox">
		<strong>{{ post.location }}</strong>
	</div>
{% endblock %}

{% block bottombar%}
<div id="bottombar" class="contentbox">
	<div>
		Found at: {{ post.date }} <br/>
		Category: {{ post.category }} <br/>
		Description: {{ post.description }}<br/>
		<div>
			--RATING--<br/>
		</div>
	</div>
	
	
	<div>
	</div>
		--COMMENTS--<br/>
		{% if comments %}
		{% for comment in comments %} 
    		{{ comment.date }} <br/>
    		{{ comment.content }} <br/>
		{% endfor %}
		{% endif %}
	<div>
		--MAKE COMMENTS--<br/>
        {% for form in commentform %}
          FORM
        {% endfor %}

	</div>
</div>
{% endblock %}