{% extends 'traffic/base.html' %}


{% block left_body_block %}
     <div id="l-block" class="contentbox">
        <strong id="title"> New Post </strong><br/><br/>
        <form id="addPosts" method="post" action= "{% url 'traffic:addposts' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                    {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                    {{ field.errors }}
                    <div id="fieldhelp">{{ field.help_text }}</div>
                    <div id="field">{{ field }}</div><br/><br/><br/>
            {% endfor %}
            <input type="submit" name="submit" value="Write Post" class="submitbutton"/>
        </form>
     </div>
{% endblock %}

{% block right_body_block %}
	<div id="r-block" class="contentbox">
	</div>
{% endblock %}

                     
            

