<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head lang="en">	
		<meta charset="UTF-8">
		<title>
			{% block title_block %}
				TRAFFIC NOT-MY-JAM
				Road Rage for the Modern Age
			{% endblock %}
		</title>
	</head>
	<body>
		<div>
			{% block left_body_block %}
			{% endblock %}
		</div>
		<div>
			{% block right_body_block %}
			{% endblock %}
		</div>
		<div>
			{% block navbar %}
				<a href="{% url 'traffic:index'">HOME</a>
				<a href="{% url 'traffic:about'">ABOUT</a>
			{% endblock %}
		</div>
	</body>
</html>